$primary: $black;
$link: $black;
$link-hover: $black;
$link-focus: $black;
$link-active: $black;
$link-visited: $black;

$family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$size-small: $size-5;
$size-normal: $size-4;
$size-medium: $size-3;
$size-large: $size-2;

$footer-background-color: transparent;
$footer-padding: 6rem 1.5rem 1.5rem
